CC=gcc
LD=ld
GDB=gdb

OUTPUT=$(CURDIR)/kerix-$(VERSION).$(SUBVERSION).$(PATCHLEVEL)

CFLAGS:=$(CFLAGS) -g
LDFLAGS:=$(LDFLAGS)

QEMU=qemu-system-i386
QEMU_ARGS=-curses
QEMU_ADDRESS=localhost
QEMU_PORT=1234
QEMU_PID_FILE=.qemu.pid
DEBUG_FILE=/tmp/kerix.debug