CC=gcc
LD=ld
GDB=gdb

OUTPUT=$(CURDIR)/kerix-$(VERSION).$(SUBVERSION).$(PATCHLEVEL)

CFLAGS:=$(CFLAGS) -g
LDFLAGS:=$(LDFLAGS)

QEMU=qemu-system-i386
QEMU_PID_FILE=.qemu.pid
QEMU_GDB_PORT=1234
QEMU_DEBUG_FILE=/tmp/kerix.debug

#QEMU_ARSG=
#QEMU_DEBUG_ARGS=