ARCH    := $(shell uname -m)
CC      := gcc
CFLAGS  := Wall -Wmissing-prototypes -Wextra -Wstrict-prototypes
AS      := as
ASFLAGS := 
AR      := ar
LDFLAGS := 

INIT_OBJ_NAME := export-init.o

OUTPUT := ${root}/kerix-${VERSION}-${SUBVERSION}-${PATCHLEVEL}

export ARCH CC AS ASFLAGS AR CFLAGS LDFLAGS OUTPUT INIT_OBJ_NAME